<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAS Generator</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>CAS Generator</h1>
    <form method="POST">
        
        <label for="ApplicantInfo">Applicant Info</label><br>

        <label for="ApplicantID">Applicant ID:</label>
        <input type="text" id="ApplicantID" name="ApplicantID" placeholder="Applicant ID"><br>

        <label for="FirstName">First Name:</label>
        <input type="text" id="FirstName" name="FirstName" placeholder="First Name"><br>

        <label for="MiddleName">Middle Name:</label>
        <input type="text" id="MiddleName" name="MiddleName" placeholder="Middle Name"><br>

        <label for="FamilyName">Last Name:</label>
        <input type="text" id="FamilyName" name="FamilyName" placeholder="Family Name"><br>
        
        <label for="Nationality">Nationality:</label>
        <select id="Nationality" name="Nationality">
            {% for country, code in nationality_options %}
            <option value="{{ code }}">{{ country }}</option>
            {% endfor %}
        </select><br>

        <label for="Gender">Gender:</label>
        <select id="Gender" name="Gender">
            <option value="1">Male</option>
            <option value="2">Female</option>
        </select><br>

        <label for="CountryOfBirth">Country of Birth:</label>
        <select id="CountryOfBirth" name="CountryOfBirth">
            {% for country, code in birth_options %}
            <option value="{{ code }}">{{ country }}</option>
            {% endfor %}
        </select><br>

        <label for="DateOfBirth">Date of Birth:</label>
        <input type="date" id="DateOfBirth" name="DateOfBirth" placeholder="yyyy-mm-dd" autocomplete="off"><br>

        <label for="ApplicantPassportOrTravelDocumentNumber">Passport Number:</label>
        <input type="text" id="ApplicantPassportOrTravelDocumentNumber" name="ApplicantPassportOrTravelDocumentNumber" placeholder="Passport Number"><br>

        <label for="CourseDetails">Course Details</label><br>

        <label for="CourseCurriculumTitle">Course Title:</label>
        <select id="CourseCurriculumTitle" name="CourseCurriculumTitle" required>
            {% for title in course_title_options %}
            <option value="{{ title }}">{{ title }}</option>
            {% endfor %}
        </select><br>

        <label for="AcademicLevel">Course Level:</label>
        <select id="AcademicLevel" name="AcademicLevel" required>
            {% for display_text, level in academic_level_options %}
            <option value="{{ level }}">{{ display_text }}</option>
            {% endfor %}
        </select><br>

        <label for="PartneredInstitution">Do you have a Partnered Institution?</label>
        <select id="PartneredInstitution" name="PartneredInstitution">
            <option value="" selected disabled>Select an option</option>
            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select><br>

        <div id="partnered_institution_fields" style="display:none;">
            <label for="PartneredInstitutionName">Partnered Institution Name:</label>
            <input type="text" id="PartneredInstitutionName" name="PartneredInstitutionName" placeholder="Partnered Institution Name"><br>
        
            <label for="PartneredInstitutionAddressLine">Address Line:</label>
            <input type="text" id="PartneredInstitutionAddressLine" name="PartneredInstitutionAddressLine" placeholder="Address Line"><br>
        
            <label for="PartneredInstitutionCity">City:</label>
            <input type="text" id="PartneredInstitutionCity" name="PartneredInstitutionCity" placeholder="City"><br>
        
            <label for="PartneredInstitutionCountyAreaDistrict">County/Area/District:</label>
            <input type="text" id="PartneredInstitutionCountyAreaDistrict" name="PartneredInstitutionCountyAreaDistrict" placeholder="County/Area/District"><br>
        
            <label for="PartneredInstitutionPostCode">Post Code:</label>
            <input type="text" id="PartneredInstitutionPostCode" name="PartneredInstitutionPostCode" placeholder="Post Code"><br>
            
            <label for="Country">Country:</label>
            <select id="Country" name="Country">
                {% for country, code in country_options %}
                <option value="{{ code }}">{{ country }}</option>
                {% endfor %}
            </select><br>
        </div>
        
        <input type="submit" value="Submit">
    </form>

    <script>
        $(document).ready(function() {
            $('#PartneredInstitution').change(function() {
                if ($(this).val() === 'yes') {
                    $('#partnered_institution_fields').show();
                } else {
                    $('#partnered_institution_fields').hide();
                }
            });
        });
    </script>

</body>
</html>
