<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAS Generator</title>
</head>
<body>
    <h1>CAS Generator</h1>
    <form method="POST">
        
        <label for="ApplicantInfo">Applicant Info</label><br>

        <label for="ApplicantID">Applicant ID:</label>
        <input type="text" id="ApplicantID" name="ApplicantID" placeholder="Applicant ID"><br>

        <label for="FirstName">First Name:</label>
        <input type="text" id="FirstName" name="FirstName" placeholder="First Name"><br>

        <label for="MiddleName">Middle Name:</label>
        <input type="text" id="MiddleName" name="MiddleName" placeholder="Middle Name"><br>

        <label for="FamilyName">Last Name:</label>
        <input type="text" id="FamilyName" name="FamilyName" placeholder="Family Name"><br>
        
        <label for="Nationality">Nationality:</label>
        <select id="Nationality" name="Nationality">
            {% for country, code in nationality_options %}
            <option value="{{ code }}">{{ country }}</option>
            {% endfor %}
        </select><br>

        <label for="Gender">Gender:</label>
        <select id="Gender" name="Gender">
            <option value="1">Male</option>
            <option value="2">Female</option>
        </select><br>

        <label for="CountryOfBirth">Country of Birth:</label>
        <select id="CountryOfBirth" name="CountryOfBirth">
            {% for country, code in birth_options %}
            <option value="{{ code }}">{{ country }}</option>
            {% endfor %}
        </select><br>

        <label for="DateOfBirth">Date of Birth:</label>
        <input type="date" id="DateOfBirth" name="DateOfBirth" placeholder="yyyy-mm-dd" autocomplete="off"><br>

        <label for="ApplicantPassportOrTravelDocumentNumber">Passport Number:</label>
        <input type="text" id="ApplicantPassportOrTravelDocumentNumber" name="ApplicantPassportOrTravelDocumentNumber" placeholder="Passport Number"><br>

        <label for="CourseDetails">Course Details</label><br>

        <label for="CourseCurriculumTitle">Course Title:</label>
        <select id="CourseCurriculumTitle" name="CourseCurriculumTitle" required>
            {% for title in course_title_options %}
            <option value="{{ title }}">{{ title }}</option>
            {% endfor %}
        </select><br>

        <label for="AcademicLevel">Course Level:</label>
        <select id="AcademicLevel" name="AcademicLevel" required>
            {% for display_text, level in academic_level_options %}
            <option value="{{ level }}">{{ display_text }}</option>
            {% endfor %}
        </select><br><br>

        
        <input type="submit" value="Submit">
    </form>

</body>
</html>
