<!DOCTYPE html>
<html>
<head>
    <title>XML Validation</title>
</head>
<body>
    <h1>XML Validation</h1>
    <form method="post" action="/validate" enctype="multipart/form-data">
        <label for="xml_file">Choose XML file:</label>
        <input type="file" name="xml_file" id="xml_file"><br><br>
        
        <label for="xsd_file">Choose XSD file:</label>
        <input type="file" name="xsd_file" id="xsd_file"><br><br>

        <input type="submit" value="Validate">
    </form>
</body>
</html>
